@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@layer components {
    section {
        @apply flex flex-row justify-center items-center h-custom lg:h-screen;
    }

    h1 {
        font-family: 'Anton', sans-serif;
        @apply text-7xl lg:text-9xl font-bold;
        background: linear-gradient(89.81deg, #9845E8 -1.72%, #33D2FF 54.05%, #DD5789 99.78%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }

    .main {
        @apply mx-auto;
        position: relative;
        max-width: 80%;
        right: 1vw;

    }

    label {
        @apply block text-left text-xl font-bold mt-2 text-slate-400 mb-5;
        font-family: 'Oswald', sans-serif;
    }

    input {
        @apply shadow border rounded w-full py-5 px-3 text-gray-100;
        background: linear-gradient(#1A1A1A, #1A1A1A) padding-box,
            linear-gradient(90deg, rgba(105, 100, 222, 1) 0%, rgba(252, 166, 233, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#6964de", endColorstr="#fca6e9", GradientType=1);
        border: 2px solid transparent;
    }

    input:focus {
        @apply outline-none;
    }

    textarea {
        background: linear-gradient(#1A1A1A, #1A1A1A) padding-box,
            linear-gradient(90deg, rgba(105, 100, 222, 1) 0%, rgba(252, 166, 233, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#6964de", endColorstr="#fca6e9", GradientType=1);
        border: 2px solid transparent;
        @apply text-gray-100 p-5;
    }

    textarea:focus {
        @apply outline-none;
    }

    button[type='submit'] {
        @apply w-full font-bold py-6 text-lg text-white;
        font-family: 'Oswald', sans-serif;
        background: rgb(164, 0, 255);
        background: linear-gradient(90deg, rgba(164, 0, 255, 1) 0%, rgba(241, 19, 238, 1) 34%);
    }

    .error {
        @apply text-pink-600 font-bold
    }

    .fade-in-element {
        opacity: 0;
        transform: translateY(20px);
        transition: opacity 1s ease-out, transform 1s ease-out;
    }

    .fade-in-element.show {
        opacity: 1;
        transform: translateY(0);
    }
}