@media (max-width: 640px) {
    .header {
        //max-width: 620px;
        margin: 0 auto;
        padding: 0 1rem;
    }
    .logo-name
    {
        margin-left:18px;
    }
}

.logo-name
    {
        margin-left:18px;
    }

.toggle {
    display: none;
}

.toggle-label {
    position: relative;
    display: inline-block;
    width: 3rem;
    height: 3rem;
    overflow: hidden;
    cursor: pointer;
}

.sun,
.moon {
    position: absolute;
    left: 0;
    width: 50%;
    height: auto;
    transition: top 0.3s;
    user-select: none;
}

.sun {
    top: 10px;
}

.moon {
    top: -150%;
}

.toggle:checked+.toggle-label .sun {
    top: 150%;
}

.toggle:checked+.toggle-label .moon {
    top: 10px;
}