@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@layer components {
    section {
        @apply grid grid-cols-1 lg:grid-cols-2 gap-10 h-custom lg:h-screen items-center lg:justify-center lg:items-center;
    }

    .fade-in-element {
        opacity: 0;
        transform: translateY(20px);
        transition: opacity 0.6s ease-out, transform 0.6s ease-out;
        will-change: opacity, transform;
    }

    .fade-in-element.show {
        opacity: 1;
        transform: translateY(0);
    }

    h1 {
        font-family: 'Anton', sans-serif;
        @apply text-5xl sm:text-6xl md:text-7xl lg:text-9xl font-bold mb-10;
        background: linear-gradient(89.81deg, #9845E8 -1.72%, #33D2FF 54.05%, #DD5789 99.78%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }

    .main {
        @apply mx-auto;
        position: relative;
        max-width: 80%;
        right: 1vw;
    }

}
