<div class="lg:container xl:container 2xl:container lg:flex xl:flex 2xl:flex 
            lg:flex-row xl:flex-row 2xl:flex-row lg:justify-between xl:justify-between 
            2xl:justify-between mx-auto w-full btn-responsive">
    <div class="flex lg:flex xl:flex 2xl:flex lg:flex-row xl:flex-row 2xl:flex-row 
                lg:justify-between xl:justify-between 2xl:justify-between lg:gap-1 xl:gap-1 2xl:gap-1 w-full">
        <!-- Basic Button Structure -->
        <button
            class="px-10 py-5 rounded-md font-medium focus:outline-none focus:ring-2 focus:ring-offset-2 transition-all duration-200 btn-email ml-2 text-lime-300">
            Email
        </button>
        <button
            class="px-10 py-5 rounded-md font-medium focus:outline-none focus:ring-2 focus:ring-offset-2 transition-all duration-200 btn-linkedIn ml-2 text-lime-300">
            LinkedIn
        </button>
        <button
            class="px-10 py-5 rounded-md font-medium focus:outline-none focus:ring-2 focus:ring-offset-2 transition-all duration-200 btn-upwork ml-2 text-lime-300">
            Upwork
        </button>
        <button
            class="px-10 py-5 rounded-md font-medium focus:outline-none focus:ring-2 focus:ring-offset-2 transition-all duration-200 btn-hub ml-2 text-lime-300">
            GitHub
        </button>
    </div>
    <div>
        <div class="arrow animate-bounce hidden sm:block"></div>
    </div>
</div>