<div class="lg:container xl:container 2xl:container mx-auto w-full hidden sm:block">
    <div class="flex lg:flex xl:flex 2xl:flex lg:flex-row xl:flex-row 2xl:flex-row lg:gap-2">
        <!-- Basic Button Structure -->
        <button
            class="px-10 py-4 rounded-md font-medium focus:outline-none focus:ring-2 focus:ring-offset-2 transition-all duration-200 btn-email ml-2 text-lime-300">
            Send an email
        </button>
        <button
            class="px-10 py-4 rounded-md font-medium focus:outline-none focus:ring-2 focus:ring-offset-2 transition-all duration-200 btn-linkedIn ml-2 text-lime-300">
            LinkedIn
        </button>
        <button
            class="px-10 py-4 rounded-md font-medium focus:outline-none focus:ring-2 focus:ring-offset-2 transition-all duration-200 btn-upwork ml-2 text-lime-300">
            Upwork
        </button>
        <button
            class="px-10 py-4 rounded-md font-medium focus:outline-none focus:ring-2 focus:ring-offset-2 transition-all duration-200 btn-hub ml-2 text-lime-300">
            GitHub
        </button>
    </div>
</div>