.gradient {
  background: linear-gradient(89.81deg, #9845E8 -1.72%, #33D2FF 54.05%, #DD5789 99.78%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

/* Extra Small (xs) */
@media (max-width: 640px) {

  /* Your styles for extra small screens */
  .ex-title {
    font-size: 17vw;
    max-width: 100vw;
    margin: 0 auto;
    position: relative;
    left: 4vw;
    font-weight: bold;
    overflow: hidden;
    box-sizing: border-box;
    padding: 20vh 0;
  }
}

/* Small (sm) */
@media (min-width: 641px) and (max-width: 768px) {

  /* Your styles for small screens */
  .ex-title {
    font-size: 16.4vw;
    max-width: 100vw;
    margin: 0 auto;
    position: relative;
    left: 4vw;
    font-weight: bold;
    overflow: hidden;
    padding: 20vh 0;
  }
}

/* Medium (md) */
@media (min-width: 769px) and (max-width: 1024px) {

  /* Your styles for medium screens */
  .ex-title {
    font-size: 16vw;
    width: 100%;
    font-weight: bold;
    //overflow: hidden;
    padding: 10vh 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

}

/* Large (lg) */
@media (min-width: 1025px) and (max-width: 1280px) {

  /* Your styles for large screens */
  .ex-title {
    font-size: 17vw;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
    left: 3vw;
    font-weight: bold;
    overflow: hidden;
    margin-bottom: 20vh;
    margin-top: 5vh;
  }
}

/* Extra Large (xl) */
@media (min-width: 1281px) and (max-width: 1536px) {

  /* Your styles for extra large screens */
  .ex-title {
    font-size: 17vw;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
    left: 4vw;
    font-weight: bold;
    overflow: hidden;
    margin-top: 5vh;
    margin-bottom: 20vh;
    opacity: 0.8;
  }
}

/* 2XL (2xl) */
@media (min-width: 1537px) {

  /* Your styles for 2XL screens and above */
  .ex-title {
    font-size: 18vw;
    width: 100vw;
    font-weight: bold;
    overflow: hidden;
    box-sizing: border-box;
    margin-top: 10vh;
    margin-bottom: 50vh;
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }
  }
}