/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*
    my Fonts
*/
$font-global: 'Anton', sans-serif;
$font-secondary: 'Oswald', sans-serif;

.font-main {
    font-family: $font-global;
    font-weight: 400;
}

.font-secondary {
    font-family: $font-secondary;
    font-size: 16px;
}

.font-sm {
    font-family: $font-secondary;
}

.portfolio-type {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
    line-height: 1.8;

}

.font-type-card {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
    max-width: 75vw;
    word-wrap: break-word;
    overflow-wrap: break-word;
    line-height: 1.8;
}

ul li::marker {
    color: rgb(218, 165, 32) !important;
}

.company-name {
    font-size: 8vw !important;
}

ul.ul-responsive {
    line-height: 1.8;
}

/*
        main color 
*/
@layer base {
    body {
        background-color: #111;
        @apply mx-auto w-full;
    }
}

body:not(.dark-mode-preloading) {
    transition: all 0.3s linear;
}

body.light-mode {
    background-color: #dfe6e9;
    color: #2d3436;

    .btn-email {
        background: linear-gradient(#dfe6e9, #dfe6e9) padding-box, linear-gradient(90deg, rgba(210, 64, 116, 1) 0%, rgba(101, 24, 180, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d24074", endColorstr="#6518b4", GradientType=1);
        border: 2px solid transparent;
        color: #2d3436;
    }

    .btn-linkedIn {
        background: linear-gradient(#dfe6e9, #dfe6e9) padding-box,
            linear-gradient(90deg, rgba(105, 100, 222, 1) 0%, rgba(252, 166, 233, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#6964de", endColorstr="#fca6e9", GradientType=1);
        border: 2px solid transparent;
        color: #2d3436;
    }

    .btn-upwork {
        background: linear-gradient(#dfe6e9, #dfe6e9) padding-box,
            linear-gradient(90deg, rgba(244, 66, 108, 1) 0%, rgba(251, 242, 177, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f4426c", endColorstr="#fbf2b1", GradientType=1);
        border: 2px solid transparent;
        color: #2d3436;
    }

    .btn-hub {
        background: linear-gradient(#dfe6e9, #dfe6e9) padding-box,
            linear-gradient(90deg, rgba(210, 64, 116, 1) 0%, rgba(101, 24, 180, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d24074", endColorstr="#6518b4", GradientType=1);
        border: 2px solid transparent;
        color: #2d3436;
    }

    .arrow {
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 15px solid #1A1A1A;
    }

    article.card {
        background: linear-gradient(#dfe6e9, #dfe6e9) padding-box,
            linear-gradient(90deg, rgba(210, 64, 116, 1) 0%, rgba(101, 24, 180, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d24074", endColorstr="#6518b4", GradientType=1);
        border: 2px solid transparent;
        color: #2d3436;
        font-weight: 700;
    }
    label
    {
        @apply text-blue-500;
    }
    input 
    {
        @apply text-left text-blue-600 font-bold;
    }
    input[name="company-name"] {
        // border: 2px solid red !important;
        background: linear-gradient(#dfe6e9, #dfe6e9) padding-box,
            linear-gradient(90deg, rgba(210, 64, 116, 1) 0%, rgba(101, 24, 180, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d24074", endColorstr="#6518b4", GradientType=1);
        border: 2px solid transparent;
    }
    input[name="phone-number"] {
        // border: 2px solid red !important;
        background: linear-gradient(#dfe6e9, #dfe6e9) padding-box,
            linear-gradient(90deg, rgba(210, 64, 116, 1) 0%, rgba(101, 24, 180, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d24074", endColorstr="#6518b4", GradientType=1);
        border: 2px solid transparent;
    }
    textarea {
        background: linear-gradient(#dfe6e9, #dfe6e9) padding-box,
            linear-gradient(90deg, rgba(210, 64, 116, 1) 0%, rgba(101, 24, 180, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d24074", endColorstr="#6518b4", GradientType=1);
        border: 2px solid transparent;
        @apply text-left text-blue-600 font-bold;
    }
}

body.dark-mode {
    background-color: #111;
    color: #dfe6e9;
}

.heading-intro {
    h1 {
        background: linear-gradient(89.81deg, #9845E8 -1.72%, #33D2FF 54.05%, #DD5789 99.78%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }
}