/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Oswald&display=swap');


/*
    my Fonts
*/
$font-global: 'Anton', sans-serif;
$font-secondary: 'Oswald', sans-serif;

.font-main {
    font-family: $font-global;
    font-weight: 400;

    //size
}

.font-secondary {
    font-family: $font-secondary;
    font-size: 16px;

}

.font-sm {
    font-family: $font-secondary;
}

/*
        main color 
*/

body {
    background-color: #111;
}


body:not(.dark-mode-preloading) {
    transition: all 0.3s linear;
}



body.light-mode {
    background-color: #dfe6e9;
    color: #2d3436;
}

body.dark-mode {
    background-color: #111;
    color: #dfe6e9;
}

.heading-intro {
    h1 {
        background: linear-gradient(89.81deg, #9845E8 -1.72%, #33D2FF 54.05%, #DD5789 99.78%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }
}