.img-code {
   min-height: 500px;
   background-image: url('https://www.online.colostate.edu/global/images/degrees/online-tourism-bachelors_1200.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   object-fit: contain;
   cursor: pointer;
}

.fade-in-element {
   opacity: 0;
   transform: translateY(20px);
   transition: opacity 0.6s ease-out, transform 0.6s ease-out;
   will-change: opacity, transform;
}
.fade-in-element.show {
   opacity: 1;
   transform: translateY(0);
}

/* Extra Small (xs) */
@media (max-width: 640px) {

   /* Your styles for extra small screens */
   .card {
      width: 90vw;
      margin: 1.5rem auto;
      height: auto;
      background: linear-gradient(#1A1A1A, #1A1A1A) padding-box,
         linear-gradient(90deg, rgba(105, 100, 222, 1) 0%, rgba(252, 166, 233, 1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#6964de", endColorstr="#fca6e9", GradientType=1);
      border: 2px solid transparent;
      box-sizing: border-box;
      word-wrap: break-word;
      overflow: hidden;
      overflow-wrap: break-word;
      padding: 2rem 1rem;
      margin-top: 1vw;
      margin-bottom: 10vw;

      .card-title {
         display: flex;
         flex-direction: row;
         flex-wrap: nowrap;
         justify-content: space-between;

         h1 {
            font-size: 1.4rem;
         }
      }

      .details {
         display: flex;
         flex-direction: column;
         flex-wrap: wrap;
         height: 100%;
         max-width: 100vw;
         width: 100%;

         .job-title {
            position: relative;
            left: 2px;
            top: -10px;
         }

         .details-list {
            position: relative !important;
            left: 20px;
            max-width: 90vw;
            width: 70vw;

            li {
               line-height: 1.7;
               word-wrap: break-word;
               overflow-wrap: break-word;
               text-align: left;
            }
         }
      }

      .fa-coffee {
         font-size: 5vw;
      }
   }
}

/* Small (sm) */
@media (min-width: 641px) and (max-width: 768px) {

   /* Your styles for small screens */
   .card {
      max-width: 100vw;
      width: 90vw;
      margin: 1.5rem auto;
      height: auto;
      background: linear-gradient(#1A1A1A, #1A1A1A) padding-box,
         linear-gradient(90deg, rgba(105, 100, 222, 1) 0%, rgba(252, 166, 233, 1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#6964de", endColorstr="#fca6e9", GradientType=1);
      border: 2px solid transparent;
      box-sizing: border-box;
      word-wrap: break-word;
      overflow: hidden;
      overflow-wrap: break-word;
      margin-top: 1vw;
      margin-bottom: 10vw;
      padding: 5rem;

      .card-title {
         display: flex;
         flex-direction: row;
         flex-wrap: nowrap;
         justify-content: space-between;

         h1 {
            font-size: 1.4rem;
         }
      }

      .details {
         display: flex;
         flex-direction: column;
         flex-wrap: wrap;
         height: 100%;
         max-width: 100vw;
         width: 100%;

         .job-title {
            position: relative;
            left: 2px;
            top: -10px;
         }

         .details-list {
            position: relative !important;
            left: 20px;
            max-width: 90vw;
            width: 70vw;

            li {
               line-height: 1.7;
               word-wrap: break-word;
               overflow-wrap: break-word;
               text-align: left;
            }
         }
      }

      .fa-coffee {
         font-size: 5vw;
      }
   }
}

/* Medium (md) */
@media (min-width: 769px) and (max-width: 1024px) {

   /* Your styles for medium screens */
   .card {
      width: 90vw;
      margin: 1.5rem auto;
      height: auto;
      background: linear-gradient(#1A1A1A, #1A1A1A) padding-box,
         linear-gradient(90deg, rgba(105, 100, 222, 1) 0%, rgba(252, 166, 233, 1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#6964de", endColorstr="#fca6e9", GradientType=1);
      border: 2px solid transparent;
      box-sizing: border-box;
      word-wrap: break-word;
      overflow: hidden;
      padding: 5rem;
      overflow-wrap: break-word;
      margin-top: 1vw;
      margin-bottom: 10vw;

      .card-title {
         display: flex;
         flex-direction: row;
         flex-wrap: nowrap;
         justify-content: space-between;

         h1 {
            font-size: 1.4rem;
         }
      }

      .details {
         display: flex;
         flex-direction: column;
         flex-wrap: wrap;
         height: 100%;
         max-width: 100vw;
         width: 100%;

         .job-title {
            position: relative;
            left: 2px;
            top: -10px;
         }

         .details-list {
            position: relative !important;
            left: 20px;
            max-width: 90vw;
            width: 70vw;

            li {
               line-height: 1.7;
               word-wrap: break-word;
               overflow-wrap: break-word;
               text-align: left;
            }
         }
      }

      .fa-coffee {
         font-size: 5vw;
      }
   }
}

/* Large (lg) */
@media (min-width: 1025px) and (max-width: 1280px) {

   /* Your styles for large screens */
   .card {
      max-width: 100vw;
      width: 90vw;
      margin: 1.5rem auto;
      height: auto;
      background: linear-gradient(#1A1A1A, #1A1A1A) padding-box,
         linear-gradient(90deg, rgba(105, 100, 222, 1) 0%, rgba(252, 166, 233, 1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#6964de", endColorstr="#fca6e9", GradientType=1);
      border: 2px solid transparent;
      box-sizing: border-box;
      word-wrap: break-word;
      overflow: hidden;
      overflow-wrap: break-word;
      padding: 5rem;
      margin-top: 1vw;
      margin-bottom: 10vw;

      .card-title {
         display: flex;
         flex-direction: row;
         flex-wrap: nowrap;
         justify-content: space-between;

         h1 {
            font-size: 1.4rem;
         }
      }

      .details {
         display: flex;
         flex-direction: column;
         flex-wrap: wrap;
         height: 100%;
         max-width: 100vw;
         width: 100%;

         .job-title {
            position: relative;
            left: 2px;
            top: -10px;
         }

         .details-list {
            position: relative !important;
            left: 20px;
            max-width: 90vw;
            width: 70vw;

            li {
               line-height: 1.7;
               word-wrap: break-word;
               overflow-wrap: break-word;
               text-align: left;
            }
         }
      }

      .fa-coffee {
         font-size: 5vw;
      }
   }
}

/* Extra Large (xl) */
@media (min-width: 1281px) and (max-width: 1536px) {

   /* Your styles for extra large screens */
   .card {
      max-width: 100vw;
      width: 90vw;
      margin: 1.5rem auto;
      height: auto;
      background: linear-gradient(#1A1A1A, #1A1A1A) padding-box,
         linear-gradient(90deg, rgba(105, 100, 222, 1) 0%, rgba(252, 166, 233, 1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#6964de", endColorstr="#fca6e9", GradientType=1);
      border: 2px solid transparent;
      box-sizing: border-box;
      word-wrap: break-word;
      overflow: hidden;
      overflow-wrap: break-word;
      padding: 5vw;
      margin-top: 1vw;
      margin-bottom: 10vw;

      .card-title {
         display: flex;
         flex-direction: row;
         flex-wrap: nowrap;
         justify-content: space-between;

         h1 {
            font-size: 1.4rem;
         }
      }

      .details {
         display: flex;
         flex-direction: column;
         flex-wrap: wrap;
         height: 100%;
         max-width: 100vw;
         width: 100%;

         .job-title {
            position: relative;
            left: 2px;
            top: -10px;
         }

         .details-list {
            position: relative !important;
            left: 20px;
            max-width: 90vw;
            width: 70vw;

            li {
               line-height: 1.7;
               word-wrap: break-word;
               overflow-wrap: break-word;
               text-align: left;
            }
         }
      }

      .fa-coffee {
         font-size: 5vw;
      }
   }
}

/* 2XL (2xl) */
@media (min-width: 1537px) {

   /* Your styles for 2XL screens and above */
   .card {
      width: 100vw;
      height: auto;
      background: linear-gradient(#1A1A1A, #1A1A1A) padding-box,
         linear-gradient(90deg, rgba(105, 100, 222, 1) 0%, rgba(252, 166, 233, 1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#6964de", endColorstr="#fca6e9", GradientType=1);
      border: 2px solid transparent;
      box-sizing: border-box;
      word-wrap: break-word;
      overflow: hidden;
      overflow-wrap: break-word;
      padding: 5rem;
      position: relative;
      right: 1vw;
      margin-top: 10vw;

      .card-title {
         display: flex;
         flex-direction: row;
         flex-wrap: nowrap;
         justify-content: space-between;
         width: 100%;

         h1 {
            font-size: 1.4rem;
         }
      }

      .details {
         display: flex;
         flex-direction: column;
         flex-wrap: wrap;
         height: 100%;
         max-width: 100vw;
         width: 100%;

         .job-title {
            position: relative;
            left: 2px;
            top: -10px;
         }

         .details-list {
            position: relative !important;
            left: 20px;
            max-width: 90vw;
            width: 70vw;

            li {
               line-height: 1.7;
               word-wrap: break-word;
               overflow-wrap: break-word;
               text-align: left;
            }
         }
      }

      .fa-coffee {
         display: none;
      }

      .date {
         flex-direction: row;
         flex-wrap: nowrap;
         justify-content: space-between;
         align-items: center;

         .start-date {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            height: 100%;
         }
      }
   }
}