.img-code
{
   min-height: 500px;
   background-image: url('https://www.online.colostate.edu/global/images/degrees/online-tourism-bachelors_1200.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   object-fit:contain;
   cursor: pointer;
}
