@media (max-width: 640px) {
    .intro {
        margin: 0 auto;
        padding: 1rem;
    }

    .heading-intro {
        h1 {
            font-size: 80px;
        }
        
        .gradient
        {
            font-size: 70px;
        }
    }
}