<div class="intro container sm:container md:container mx-auto w-full h-screen
    py-28">
    <div class="sub-text font-sm mb-6 text-slate-500">
        <span class="ml-1">
            Hey I'm
        </span>
    </div>
    <div class="heading-intro mb-3">
        <h1 class="font-main text-9xl w-full gradient">
            Mahmoud Gharib Said Gharib
        </h1>
        <p class="font-secondary mb-2 py-5 text-left text-slate-500 w-full
            leading-normal lg:leading-loose">
            I am a software developer based in Katowice, Poland. I graduated
            from Euro College's Department of Computer Science. I enjoy creating
            things that live on the internet, whether that be websites,
            applications, or anything in between. I have been studying
            programming for two years at college, and I have gained a decent
            amount of experience and valuable knowledge from various fields
            throughout my projects/work.
        </p>
    </div>
    <router-outlet></router-outlet>
</div>
