<div class="intro container sm:container md:container mx-auto w-full lg:py-40
    ">
    <div class="sub-text font-sm mb-6 text-slate-400">
        <span class="ml-5 text-slate-400">
            Hey I'm
        </span>
    </div>
    <div class="heading-intro mb-3 max-w-8xl px-4">
        <h1 class="font-main sm:break-before-all text-9xl w-full gradient">
            Mahmoud Gharib Said Gharib
        </h1>
        <p class="portfolio-type mb-2 py-5 text-left text-slate-400 w-full
            leading-normal lg:leading-loose">
            I’m currently a software engineer with two years of experience. 
            In my role, I have developed and built an ERP system for employees with thousands of users, 
            collaborating closely with cross-functional teams to ensure seamless performance and user 
            experience.I have strong skills in both backend and frontend technologies, including 
            Nest.js, Symfony, and Angular. My programming expertise spans TypeScript, PHP, Zig, 
            and Python, with proficiency in working with both SQL and NoSQL databases. Additionally, 
            I’m skilled in using Docker for containerization and environment management.I completed 
            a vocational school program in Computer Science in Poland and am excited to bring my 
            skills and experience to new opportunities
        </p>
    </div>
    <section class="flex flex-row flex-nowrap lg:my-20" >
        <app-buttons></app-buttons>
    </section>
</div>
<section class="mt-20">
    <app-experience></app-experience>
</section>
<router-outlet></router-outlet>