<div class="intro container mx-auto w-full lg:py-40
    ">
    <div class="sub-text font-sm mb-6 text-slate-400">
        <span class="ml-5 text-slate-400">
            {{ 'INTRO.GREETING' | translate }}
        </span>
    </div>
    <div class="heading-intro mb-3 max-w-8xl px-4">
        <h1 class="font-main sm:break-before-all text-9xl w-full gradient">
            {{'INTRO.NAME' | translate }}
        </h1>
        <p class="portfolio-type mb-2 py-5 text-left text-slate-400 w-full
            leading-normal lg:leading-loose">
            {{'INTRO.DESCRIPTION' | translate }}
        </p>
    </div>
    <section class="flex flex-row flex-nowrap" >
        <app-buttons></app-buttons>
    </section>
</div>
    <app-experience></app-experience>
    <app-card></app-card>
<router-outlet></router-outlet>